*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px

}
body{
    
    background: url(one piece.jpg);
    background-size: cover;
    height: 0vh;
}
.contenedor{
    height: 300px;
    width: 300px;
    margin: 300px 0;
}
ul{
    margin-left: 0;
    width: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    position: fixed;
}
li{
    position: relative;
    transform: translatex(-90px);
    background: rgba(0,0,0,0.8);
    list-style: none;
    padding: 10px 0;
    transition: .5s;
    width: 150px;
    border-radius: 0 200px 200px 0;
}
li:hover:nth-child(1){
    background: #47b6f5;
}
li:hover:nth-child(2){
    background: #F1948A;
}
li:hover:nth-child(3){
    background: #2471A3 ;
}
li:hover:nth-child(4){
    background: #00FF00;
}
li:hover:nth-child(5){
    background: #FF0000;
}
li:hover{
    transform: translatex(0);
}
a{
    font-weight: bold;
    color: #eff;
    font-family: sans-serif;
    text-decoration: none;
    padding-left: 10px;

}
i{
    margin-left: 15px;
    padding: 10px 10px;
    border-radius: 50%;
    color: #000;
    background: #fff;
}
.icon{
    font-size: 20px;
}
.facebook{
    position: relative;
    left: -9px;
}
.instagram{
    position: relative;
    left: -1px;
}
.twitter{
    position: relative;
    left: 20px;
}
.google{
    position: relative;
    left: 22px;
}
.youtube{
    position: relative;
    left: 13px;
}
